*{
  margin:0; 
  padding:0; 
  outline:none;
}
html body{
  margin:0; 
  padding:0; 
  -ms-word-wrap:break-word; 
  word-wrap:break-word; 
  background-color:#fff; 
  position:relative; 
  font-size: 15px;
  color: #6c6c6c;
  font-family: 'Poppins';
  font-weight: 300;
}
#testimonial .owl-carousel .owl-item img{
width: auto !important;
}
label {
  margin-bottom: 0 !important;
}
img{
  margin:0; 
  padding:0; 
  border:none; 
  max-width:100%; 
  height:auto;  
}
section img{
  max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{ 
  margin:0;
  padding:10px 0;
  letter-spacing: 1px;
  font-family: 'Poppins';
  color:#000000;
}
p{
  margin:0 0 15px; 
  padding:0;
  font-size:15px;
  font-weight:300;
}
p, ul li a{
  letter-spacing: 0px;
}
body a{
  text-decoration:none; 
  color:#373737;
}
body a:hover{
  color:  #22c7b7;;
}
a:hover{
  text-decoration:none; 
  color:#666;
}
a:focus,a:hover{
  text-decoration:none !important;
}
ul,ol{ 
  margin:0; 
  padding:0;
}
ul li, ol li{font-size: 14px;}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
blockquote {
  font-size: 18px;
  font-style: italic;
  max-width: 450px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: 0px;
  top: -10px;
  color: #7a7a7a;
}
blockquote:after {
  display: block;
  content: "\201D";
  font-size: 80px;
  position: absolute;
  right: 0px;
  bottom: -10px;
  color: #7a7a7a;
}
blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
blockquote cite:before {
  content: "\2014 \2009";
}
small{
  font-size:14px !important;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="phno"],input[type="password"],
textarea{
  border:1px solid #424648;
  font-size:16px;
  padding:10px 10px; 
  height:auto;
  width: 100%;
  background: transparent;
}
#footer input[type="text"],#footer input[type="email"] {
border: none !important;
background-color: #0d4765;
padding-left: 20px;
}
#footer input[type="submit"] {
border: none !important;
background-color: #22c7b7 !important;
color: #ffffff !important;
}
#footer input[type=text]{
margin-bottom: 10px;
}
section{
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
select{
  width: 100%;
  padding: 6px;
}
input[type="submit"] {
  padding: 10px 20px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #373737;
}
input[type="submit"]:hover{
  cursor: pointer;
}
textarea {
  height: 80px;
}
.screen-reader-text {
  position: absolute;
  top:-9999em;
  left:-9999em;
}
.alignleft,
img.alignleft{
  display: inline; 
  float: left; 
  margin-right:20px; 
  margin-top:4px; 
  margin-bottom:10px; 
  padding:0;
  padding:5px;
}
.alignright, img.alignright { 
  display: inline; 
  float: right; 
  padding:5px; 
  margin-bottom:10px;
  margin-left:25px;
  padding:5px;
}
.aligncenter, img.aligncenter { 
  clear: both; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top:0;
  padding:5px; 
}
.comment-list .comment-content ul { 
  list-style:none; 
  margin-left:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
.toggleMenu{
  display:none;
}
table, td, th {
  border: 1px solid black;
}
.banner-image .empty-cell{
display: contents;
}

/* --------- Header -------- */


/*----------------------  index ---------------------------*/
.post-section {
    padding: 20px 0;
}
.postwrapper-box {
  border: 2px solid #eeeeee;
}
.cat-box {
  background: url(images/cat-icon.html) no-repeat 1px 3px;
  padding: 0 0 0 25px;
  font-style: italic;
  font-weight: bold;
  margin: 15px 0 30px 0;
}
.date-box {
  background: url(images/date.html) no-repeat 1px 3px;
  padding: 0 0 0 25px;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 15px 0;
}

/*------------------Single Post -----------------*/

#single_post .postbox .postbox-content {
  position: static;
  padding: 15px 0;
}
#single_post .date-box {
  padding: 20px 10px;
  position: absolute;
  top: 32%;
  background-color: #373737;
  color: #ffffff;
  margin-left: 15px;
}
#single_post .date-box-inner {
  padding: 8px;
  border: solid 2px #ffffff;
}
.posttitle a
{
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Raleway";
}
.page-header h1{
color: #091d3e;
font-family: 'Raleway';
}
.entry-title
{
  color: #1f1e1e;
  font-family: "Poppins";
  padding: 20px 20px 10px;
}
.single-post-content table td
{
  text-align: center;
}
.single-post-content .wp-audio-shortcode
{
  margin-bottom: 50px;
}
.single-blog .nav-links .nav-next a{
display: flex;
flex-direction: row-reverse;
}
.navigation span.meta-nav{
color: #22c7b7;
}

/*------------------ Contact Page -----------------*/
.contact-page-details
{
  padding-bottom: 30px;
}
h3.contact-page {
  margin-left: 3%;
  font-weight: bold;
  color: #18304c;
  border-bottom: solid 4px #d3da36;
  display: table;
  margin-bottom: 4%;
}
.contac_form input[type='text'],
.contac_form input[type='email'],
.contac_form input[type='url'],
.contac_form input[type='password'],
.contac_form input[type='search'],
.contac_form input[type='number'],
.contac_form input[type='tel'],
.contac_form input[type='range'],
.contac_form input[type='date'],
.contac_form input[type='month'],
.contac_form input[type='week'],
.contac_form input[type='time'],
.contac_form input[type='datetime'],
.contac_form input[type='datetime-local'],
.contac_form input[type='color'],
.contac_form select,
.contac_form textarea,
.contac_form .wpcf7 .wpcf7-form-control-wrap[class*="file-"] {
  background-color:transparent;
  border-color: #ccc;
  color: #2f3357;
  border-radius: 0px;
  box-shadow: none;
  border:2px solid #091d3e;
  background-color: transparent;
}
.contact-box .wpcf7 input[type="text"], .contact-box .wpcf7 input[type="email"] {
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 12px 46px 0;
  height: auto;
  border:2px solid #091d3e;
  background-color: transparent;
}
.contact-box .wpcf7 input[type="text"]::placeholder
{
  font-family: "Poppins";
}
.contact-box .wpcf7 input[type="email"]::placeholder
{
  font-family: "Poppins";
}
.contact-box .wpcf7 textarea::placeholder
{
  font-family: "Poppins";
}
.contact-box .contac_form input[type="submit"]
{
  border-radius: 40px;
  font-family: "Poppins";
  padding: 12px 20px;
  margin-top: 20px;
}
section#contact-box{
  padding:0;
  margin:0;
}
.contact-info {
  font-size: 14px;
  line-height: 26px;
  padding: 20px;
  width: 100%; 
}
.contac_form h3 {
  text-align: center;
}
.contact-info .head{
  color:#000;
}
.contact-address, .contact-email, .contact-phone {
  margin: 7px 0;
}
.c_content span {
  font-size: 18px;
}
.c_content p{
  font-size: 16px;
}
.contac_form .fancy-title {
    width: 250px;
    margin: 0 auto;
}
.contac_form label{
  width: 100%;
}
.c_content {
  color: #ffffff;
}
.contact-page-details .contact-address
{
  text-align:center;
  border:2px solid #091d3e;
  padding: 11px;
}
.contact-page-details .contact-email
{
  text-align:center;
  border:2px solid #091d3e;
  padding: 11px;
}
.contact-page-details .contact-phone
{
  text-align:center;
  border:2px solid #091d3e;
  padding: 11px;
}
.contact-page-details span
{
  font-size: 18px;
  font-weight: 600;
  color: #091d3e;
  padding-bottom: 15px;
  font-family: "Poppins";
}
.contact-page-details .inner-cont i
{
  font-size: 35px;
  color: #22c7b7;
  padding: 14px 0;
}
.contac_form span.wpcf7-form-control-wrap input{
  margin: 0 12px 30px 0;
  border: 2px solid #091d3e;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.contact-page-details .inner-cont p
{
  font-family: Poppins,sans-serif;
  color: #343434;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}
.contact-page-details .inner-cont p a{
color: #000;
}
.contact-page-details .inner-cont p a:hover {
color: #22c7b7;
}
.contact-color-bg h3{
font-size: 36px;
color: #1f1e1e;
font-family: "Poppins";
font-weight: bold;
padding-bottom: 30px;
}
.contact-color-bg
{
text-align: center;
}
.contact-color-bg form textarea{
margin-bottom: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
}
.contact-box .google-map{
padding-top: 14% !important;
margin-bottom: 30px !important;
}
.contac_form input::placeholder, .contac_form textarea::placeholder {
color: #22c7b7;
font-weight: 600;
}
.contac_form input, .contac_form textarea {
color: #22c7b7 !important;
font-weight: 900;
}
.contact-box .google-map embed {
  border-radius: 20px;
}
.contact-box .contac_form input[type="submit"]:hover {
  background-color: #091d3e;
}

/*---------------- Banner ----------------------*/
.inner_banner img, .title-box img {
    width: 100%;
}
.main_title {
  margin-top: 20px;
}
.main_title h1{
  padding-top: 20px;
  margin-bottom: 22px;
  font-size: 36px;
  color: #2d3b3e;
  font-family: "Poppins";
  font-weight: bold;
}
section.banner-image {
padding: 0;
}

/* --------- Social Icon Widget ------- */

.social_widget a {
  color: #ffffff;
  padding: 5px 7px;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 5px;
  background-color: #013e64;
}
.social_widget a i {
  font-size: 15px;
  letter-spacing: 0px;
  width: 20px;
  text-align: center;
}


/* --------- Blog Page ------- */

.postbox-content .post-text
{
  font-size: 15px;
  font-family: 'Raleway';
  color: #ffffff99;
  line-height: 26px;
  letter-spacing: 0;
  margin-bottom: 30px;
}
.postbox h3{
  font-weight:normal;
  font-size:35px;
  text-align: center;
}
.blogimg-full img{
  width: 100%;
}
.read-more-icon{
  text-align: center;
  margin: -55px 0 0 0;
  z-index: 999;
}
.read-more-icon a:hover{
  opacity: 0.9;
}
.continue-read a {
  color: rgba(19, 10, 138, 0.6);
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  border: solid 1px #bbb;
  padding: 10px 20px 10px 20px;
  border-radius: 6px; 
  display: block; 
  background: #fff;
}
.continue-read a:hover{
  background: #18304c;
  color:#fff;
}
.continue-read {
  margin: -22px auto 0 auto;
  display: table;
}
.metabox img {
  border-radius: 50%;
  margin-left: 30%;
}
.postbox {
   margin-bottom: 39px;
   border: none;
   border-radius: 6px;
}
.postbox h2{
  margin:0 0 5px; 
  font-weight:bold;
}
a.post-readmore {
   font-size: 18px;
   border-bottom: 1px solid;
}
a.post-readmore i {
 margin-left: 8px !important;
 font-size: 18px;
 border-bottom: 1px solid #ffffff;
 padding-bottom: 2px;
}
.widget_recent_entries li {
  padding: 10px 0;
}
.postbox  a.blogbutton {
  background:none;
  color:#fff;
  font-size:12px; 
  font-weight:bold; 
  color:#fff; 
  padding:6px 25px;
  border:1px solid #000; 
  color:#000; 
  font-size:18px;
  text-transform:uppercase;
  margin:25px 0 0 0;
  display:table;
}
.blogbutton-small{
  background:none;
  font-size:12px; 
  font-weight:bold; 
  padding:6px 25px;
  border:1px solid #000; 
  color:#000; 
  font-size:14px;
  text-transform:uppercase;
  margin:14px 0 0 0;
  display:table;
}
.metabox {
    color: #000;
    padding: 5px 0;
    clear: both;
    margin: 10px 0;
}
.metabox .entry-date{
  margin:0 13px 0 0;
}
.metabox .entry-author{
  padding: 0 0 0 20px;
  margin:0 20px 0 0;
}
.metabox .entry-author a
{
  color: #000;
}
.metabox .entry-comments{
  padding: 0 0 0 20px;
}
.logged-in-as a
{
  color: #000;
}
#comment-nav-above .nav-links {
  width: 100%;
  float: left;
  margin-bottom: 17px;
}
#sidebar span.comment-author-link {
    margin-left: 14px;
}
.post-featured img {
  width: 100%;
}
.post-featured .author-box img {
  width: 7%;
  border-radius: 50px;
  margin-right: 5px;
}
#direct-comments {
  margin-left: 10px;
}
#direct-comments i{
margin-right: 5px;
}
.author-box i{
display: none;
}
.blog-content {
  margin-top: 10px;
}

/* ----------------------- POST---------------------- */
a.page-numbers, span.page-numbers.current {
  padding: 10px !important;
  background-color: #373737;
  color: #ffffff !important;
  border: 1px solid #373737;
}
.navigation span.page-numbers.current{
  background-color: #ffffff;
  border: 1px solid #373737;
  color: #000000 !important;
}
#blog{
  padding-top:0;
  margin-top:0;
}
.blog-post h5{
  text-transform:uppercase;
  color: #000;
}
.blog-icon i {
  font-size: 20px;
  background: #bbb;
  border-radius: 50%;
  padding: 10px 14px 12px 15px;
  color: #fff;
  margin-right: 1%;
}
.blog-icon i:hover {
    background: #d3da36;
    color: #fff;
}
.blog-icon i.fa-google-plus {
    padding: 12px 10px 12px 11px
}
aside#search-3 {
  padding: 0 !important;
}
.feature-image-box img{
  width:100%;
}
.feature-image-box img a:hover{
  opacity:0.8;
}
.post-singlepage {
  border: solid 1px #bbb;
  box-shadow: 0 0 1px #bbb;
}
.bradcrumbs{
  padding: 15px 0 30px;
  color: #22c7b7;
  font-weight: 600;
}
.bradcrumbs a{
  color: #fff;
  padding: 5px 15px;
  margin-right: 5px;
  font-weight: 700;
}

.bradcrumbs span{
  background:#dddddd; 
  color:#000;
  padding: 5px 9px;
}
.banner-image h1 {
  font-family: 'Raleway';
  font-weight: 600;
  color: #ffffff;
  font-size: 34px;
}
.banner-image .card{
opacity: 0.9;
background-color: #1d2327;
}

/*------------------ Comments BOX ------------------*/
#comments{
  float: left;
  width: 100%;
  margin-top: 10px;
}
#comments h2.comments-title{
  font-size:20px; 
  font-weight:bold;
}
#comments h3.comment-reply-title{
  font-size:20px; 
  font-weight:bold;
  clear:both;
}
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  padding:12px 10px; 
  font-size:18px;
}
#comments input[type="submit"].submit {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border-top: none;
}
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
#comments .reply{
  text-align:right;
}
#comments .comment-metadata{
  width:90%;
  float:left;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:90%;
  text-align:left;
  margin-left:7%;
}
#comments .comment-author{  
  margin-bottom: 1em;
}
#comments h2#reply-title {
  display: inline-table;
  font-family: "Poppins";
}
#comments .comment-author.vcard img {
  padding: 2px;
}

/*--------------- Sidebar -----------------*/
/* Sidebar */
#sidebar td#prev a {
 color: #6c6c6c;
}
#sidebar caption {
 font-weight: bold;
 color: #6c6c6c;
 font-size: 20px;
}
#sidebar table,#sidebar th,#sidebar td {
 border: 1px solid #e1e1e1;
 text-align: center;
}
#sidebar td {
 padding: 7px;
 color: #6c6c6c;
}
#sidebar th {
 text-align: center;
 padding: 5px;
 color: #6c6c6c;
}
#sidebar select {
 padding: 10px 5px;
 border: solid 1px #e1e1e1;
 color: #6c6c6c;
 background: transparent;
}
#sidebar form{
 text-align: center;
}
#sidebar h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 600;
  padding-bottom: 15px;
  margin-bottom: 11px;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  font-family: "Poppins";
}
#sidebar input[type="search"] {
 padding:10px 10px;
 font-size:15px;
 color:#6c6c6c;
 border: solid 1px #e1e1e1;
 width: 100%;
}
#sidebar label{
margin-bottom: 0;
width: 100%;
padding-bottom: 10px;
font-size: 18px;
font-family: 'Raleway';
}
.widget_block h2 {
font-family: 'Raleway';
font-weight: 600;
}
#sidebar input[type="submit"]{
 background-color :#373737;
 color:#fff;
 padding:10px 0;
 font-size:12px;
 width: 100%;
 letter-spacing: 2px;
 font-weight: bold;
}
#sidebar .widget {
 padding: 20px;
 border: 1px solid #373737;
 margin-bottom: 50px;
}
#sidebar ul {
 list-style: none;
 margin: 0;
 padding: 0;
 font-size: 17px;
}
#sidebar ul li{
 font-weight: 600;
 color: #ffffff;
  font-family: Poppins,sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0;
}
.widget_block .no-comments{
font-family: Poppins,sans-serif;
}
#sidebar ul li:last-child
{ 
  border:none;
}
#sidebar ul li a {
  font-weight: 600;
  font-family: Poppins,sans-serif;
  font-size: 15px;
}
div#sidebar {
margin-top: 30px;
}
#sidebar .tagcloud a{
 border: solid 1px #e1e1e1;
 color:#6c6c6c;
 font-size:15px !important;
 padding:5px 18px;
 margin:0 0 5px;
 display:inline-block;
}
#sidebar .tagcloud a:hover{
 background:#ec1d23;
 color: #fff;
}
span.credit_link a {
  color: #ffffff;
}


/*------------- Page -----------------*/
.title-box{
  color:#fff;
  text-transform:uppercase;  
  font-weight:bold;
  text-align:center;
  margin-bottom:25px;
}
.title-box img{
  width:100%;
}
.title-box h1 {
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.58);
}
.above_title {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 10%;
}
.read-moresec{
  margin:2% 0;
}
.middle-content {
  padding-bottom: 20px;
}

/*---------------- Pagination ----------------*/
.navigation {
  font-size:14px; 
  font-weight:bold;
  margin: 10px 0;
}
 
.navigation a {
  padding: 0;
}
.navigation span, .navigation a {
  display: block;
  float: left;
  padding: 10px 15px 0 15;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #5b5b5b;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
  font-weight: normal;
}
.navigation span.meta-nav {
  font-weight: bold;
}
.navigation .current{
  background: #333333; 
  color:#ffffff;
  font-weight:normal;
}

/* ------------- Category --------------------*/

.category-page h4{
  text-align: left !important;
}
ul.post-categories {
  list-style: none;
  margin: 0;
}
ul.post-categories a {
  color: #333333;
}

/*-------------- Single  ---------------*/
.post_ctg span {
  float: left;
  margin-right: 7px;
}
.share_icon i {
  padding: 10px 10px 10px 8px;
  margin: 0 0;
  color: #ffffff;
  background-color: #333333;
  width: 36px;
  margin: 0 4px;
  text-align: center;
}
.share_icon i.fab.fa-facebook-f{
  background-color: #3c5a99;
}
.share_icon i.fab.fa-linkedin-in{
  background-color: #007bb5;
}
.share_icon i.fab.fa-google-plus-g{
  background-color: #da4835;
}
.share_icon i.fab.fa-twitter{
  background-color: #55acee;
}

/* ----------- Unit Testing ------------- */

.outer_dpage table
{
  text-align: center;
}
.outer_dpage table th
{
  text-align: center;
}

/* About Page */
#about .main_heading{
color: #22c7b7;
font-family: 'Raleway';
font-weight: bold;
font-size: 24px;
position: relative;
padding-left: 68px;
}
#about p.main_para  {
font-family: 'Raleway';
color: #0a0a0a;
font-size: 16px;
}
#about p.main_para_two{
font-family: 'Raleway';
color: #020202;
font-size: 16px;
font-weight: 100;
}

#about div.slide_btn a {
  font-size: 14px;
  color: #000118;
  padding: 15px 28px;
  font-family: 'Raleway';
  border: 1px solid #22c7b7;
}
#about div.about-contact::before{
content: '\f04b';
font-family: 'Font Awesome 5 Free';
font-weight: 900;
transform: rotate(180deg);
color: #22c7b7;
}
#about .abt_bg{
background-color: #f0f1f3;
position: relative;
}
.about-icon-video {
position: absolute;
right: -4%;
bottom: 50%;
}

div.about-img{
position: relative;
}

#about div.about-contact a{
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 22px;
}
#about div.slide_btn{
margin-top: 40px;
} 
#about .main-subtext {
font-family: 'Raleway';
color: #000118;
font-weight: 700;
font-size: 30px;
line-height: 48px;
}
#about .box p {
  font-size: 15px;
  line-height: 22px;
  color: #7c7c7c;
  font-weight: 300;
  font-family: "Ubuntu";
}
#about .box {
  padding: 10px 20px;
}
#about .about_icon {
  text-align: left;
}
#about {
background-color: #ffffff;
position: relative;
padding-bottom: 10%;
padding-top: 0;
}   
#about .abot-cont{
margin: 0 10%;
}
#about .main_heading:before {
content: '';
width: 60px;
position: absolute;
background-color: #22c7b7;
height: 1px;
left: 0;
top: 28px;
display: inline-block;
}
#about .media{
background-color: #091d3e;
padding: 16px 26px;
}
#about .pat-info h5{
color: #22c7b7;
}
#about .pat-info .file_para{
color: #ffffff;
font-weight: 600;
}
#about .pat-info a{
color: #22c7b7;
}
#about div.pat-info{
position: absolute;
bottom: -65px;
width: 50%;
margin: 0 auto;
left: 0;
right: 0;
}
.pat-info:hover img.book {
transform: rotateY(360deg);
transition: 0.5s;
}
.hover-underline-animation {
display: inline-block;
position: relative;
color: #fff;
} 
.hover-underline-animation:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: #fff;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
transform: scaleX(1);
transform-origin: bottom left;
}
.hover-underline-one {
  display: inline-block;
  position: relative;
  color: #22c7b7;
  } 
  .hover-underline-one:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #22c7b7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  }
  .hover-underline-one:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  }
#about .pat-info a:hover{
color: #fff;
transition: 0.25s;
}
.about-icon-video i {
color: #22c7b7;
font-size: 12px;
transform: translate(-50%, -50%);
font-family: 'Font Awesome 5 Free';
font-weight: 900;
font-style: normal;
background-color: #ffffff;
padding: 20px 22px; 
border-radius: 50px;
cursor: pointer;
z-index: 20;
position: relative;
}
div.about-img img {
width: 100%;
height: 100%;
object-fit: cover;  
} 
.about-icon-video a {
  opacity: 1 !important;
}
a#openModalButton:hover i {
  color: #091d3e;
  background-color: #22c7b7;
}
/* Style the modal */
.modal{
  display: none; /* Hide the modal by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with transparency */
  z-index: 10000 !important;
}
.modal-content {
  background-color: #fefefe;
  margin: 7% auto;
  padding: 0px 20px 16px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
}
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  display: block;
  text-align: end;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* --------------- teams ------------- */
  #teams {
  position: relative;
  }
  #teams .owl-carousel{
  display: block;
  }
  #teams span.team-sm-hd {
  font-family: 'Raleway';
  color: #22c7b7;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  }
  #teams .our-team-head {
    text-align: center;
  }

  #teams h3{
  font-family: 'Raleway';
  font-size: 28px;
  color: #000118;
  font-weight: 600;
  margin-top: 10px;
  }
  #teams .owl-item{
  padding: 4px;
  }
  #teams .our-team-content {
  padding: 15px;
  }
  #teams .owl-item:hover .our-team-content{
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #22c7b7;
  }
  .our-team-box .designation{
  color: #22c7b7;
  font-weight: 600;
  margin: 6px 0px;
  }
  #teams .cont p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #656565;
  }
  #teams .our-team-box a {
  color: #000118;
  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  }
  #teams .social-profiles a {
  margin: 6px;
  font-size: 16px !important;
  }
  #teams .social-profiles a:hover {
  color: #22c7b7;
  transition: 0.2s !important;
  }

  .tests {
  position: relative;
  }
  #testimonial .owl-carousel .owl-prev, #testimonial .owl-carousel .owl-next{
  font-size: 20px;
  padding: 0px 7px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  background-color: #22c7b7;  
  margin: 4px;
  }
  #teams .owl-carousel .owl-prev, #teams .owl-carousel .owl-next{
  font-size: 20px;
  padding: 0px 7px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  background-color: #22c7b7;  
  margin: 4px;
  }

  #teams .owl-carousel .owl-item img{
  width: auto;
  margin: 0 auto;
  }
  #teams a.teamdee img {
  background-color: #22c7b7;
  border-radius: 50px;
  padding: 6px;
  }
  #teams a.teamdee:hover img{
  background-color: #000118;
  transition: 0.3s ease-in-out;
  }

/* Skills  */
#skills-col{
background-color: #22c7b8;
box-shadow: 110px 0px 0px #22c7b8;
padding: 0 30px 50px 50px;
}

#skills-col .heading-content span{
  font-family: 'Raleway';
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  padding-left: 14%;
}
#skills-col .heading-content span::before{
content: '';
position: absolute;
width: 60px;
height: 1px;
background-color: #ffffff;
left: 0;
display: inline-block;
top: 12px;
}
#skills-col h3{
font-family: 'Raleway';
font-size: 25px;
color: #000118;
font-weight: 600;
margin-top: 10px;
}
#skills-col .heading-content p{
color: #ffffff;
font-weight: 500;
font-family: 'Poppins';
font-size: 14px;
}
#skills_bar h6 {
font-family: 'Poppins';
font-weight: 600;
color: #ffffff;
}
#skills_bar .bar-number {
font-family: 'Poppins';
color: #ffffff;
font-weight: 500;
margin-top: 9px;
}
#skills_bar .progress-bar {
background-color: #ffffff;
} 
#skills_bar .progress {
background-color: #000118;
height: 8px;
border-radius: 0;
}
#skills_bar {
margin-bottom: 20px;  
}
#skills_bar:hover h6, #skills_bar:hover div.bar-number {
color: #000118;
transition: 0.3s ease-in-out;
}
#teams .owl-item:hover .team-title {
color: #22c7b7;
transition: 0.3s ease-in-out;
}
#teams .owl-item:hover .designation{
color: #000118;
transition: 0.3s ease-in-out;
}


/* FulL WidtH BloG & AuthoR PagE */
#full-width-blog, #blog-left-sidebar, #blog-right-sidebar{
padding: 60px 0;
background-color: #f0f1f3;
}
.wp-block-search__button{
margin: 0;
padding: 10px;
}
#full-width-blog h5 a, body.author h5 a, #blog-left-sidebar h5 a, #blog-right-sidebar h5 a  { 
color: #000;
font-family: 'Raleway';
}
#full-width-blog .post-content-boxx span, body.author .post-content-boxx span , #blog-left-sidebar .post-content-boxx span, #blog-right-sidebar .post-content-boxx span{
  color: #000;
}
#full-width-blog .post-content-boxx .blog-date i, body.author .post-content-boxx .blog-date i, #blog-left-sidebar .post-content-boxx .blog-date i, #blog-right-sidebar .post-content-boxx .blog-date i{
margin-right: 5px;
}
#full-width-blog a.blog-readmore, body.author a.blog-readmore, #blog-left-sidebar a.blog-readmore, #blog-right-sidebar a.blog-readmore {
  color: #22c7b7;
  padding: 0 10px;
  margin-left: 5px;
  border-radius: 10px;
  text-decoration: revert;
  font-weight: 700;
}
#full-width-blog .blog-content p, body.author .blog-content p, #blog-left-sidebar .blog-content p, #blog-right-sidebar .blog-content p{
color: #000;
}
h5.blog-heading a:hover {
  color: #22c7b7 !important;
}

/* Faq Page */
.collapse{
display:  block !important;
}
.faq-head h2.accordion-header button {
  border: none;
  background-color: unset;
  text-align: left;
  color: #091d3e;
  font-family: 'Raleway';
  font-weight: 600;
}
.faq-head h2.accordion-header button:focus{
outline: none;
}
.faq-head h2, .faq-head .panel-body p{
text-align: left;
padding: 15px;
margin: 0;
background-color: #c5c5c5;
color: #000;
}
.faq-page {
padding: 60px 0;
}


/* TermS AnD ConditionS */
#tandc h1{
font-family: 'Raleway';
color: #091d3e;
font-weight: 600;
}
#tandc h2.termsndcond-head{
color: #22c7b7;
font-family: 'Raleway';
}
#tandc p.termsndcond-para{
font-family: 'Raleway';
}

/* ---- ServiceS PagE ------ */
.services-box-content p{
font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
padding: 12px 0px;
visibility: hidden;
} 
.our-services-head p {
font-family: 'Raleway';
font-weight: bold;
font-size: 24px;
margin: 0;
display: inline;
position: relative;
color: #22c7b8;
}
.our-services-head p:before{
left: -70px;
position: absolute;
content: '';
background-color: #22c7b7;
width: 60px;
height: 1px;
display: flex;
top: 12px;
}
.our-services-head p:after{
right: -70px;
position: absolute;
content: '';
background-color: #22c7b7;
width: 60px;
height: 1px;
display: flex;
top: 12px;
}

#our-services h3 {
font-family: 'Raleway';
color: #091d3e;
font-weight: 600;
font-size: 36px;
}
#our-services .title a {
font-family: 'Raleway';
font-weight: 600;
color: #091d3e;
font-size: 20px;
}

.services-box-content div.plus-icon i{
font-family: 'Font Awesome 5 Free';
font-weight: 700;
font-style: normal;
background-color: #ffffff;
padding: 8px 10px;
border-radius: 30px;
}
#our-services .our-services-content{
position: relative;
}
#our-services .plus-icon {
margin: 12px 0;
}
#our-services .services-box-content{
padding: 15px;
background-color: #ffffff;
bottom: 0;
top: 0;
z-index: -1;
transform: translate(21px, 50px);
position: absolute;
display: flex;
flex-flow: column;
justify-content: end;
padding-bottom: 6px;
}
#our-services .owl-item:hover .services-box-content {
z-index: 1;
display: flex;
flex-flow: column-reverse;
padding: 15px;
background-color: #36cbbe;
opacity: 0.9;
justify-content: center;

}
#our-services .owl-stage-outer{
padding-bottom: 60px;
margin-top: 20px;
}

#our-services .owl-item:hover .services-box-content p {
  margin-bottom: 0;
}
#our-services .owl-item:hover .services-box-content h5 a{
color: #091c3d;
}
#our-services .owl-item:hover .services-box-content p{
color: #ffffff;
visibility: initial;
}



/* ------ Single Blog Page ------- */
h1.blg-head{
color: #000;
font-family: 'Raleway';
font-weight: 600;
}
.single-blog .content_boxes p{
color: #000;
font-family: 'Raleway';
line-height: 28px;
font-size: 16px;
}
.single-blog .content_page{
background-color: #f0f1f3;
margin: 10px 0;
border-radius: 10px;
padding: 30px;
}
.single-blog .meta-box-question{
color: #01BCee;
font-family: 'Poppins';
font-weight: 600;
font-size: 18px;
} 
p.logged-in-as {
  color: #000;
}
.single-blog p.socila_share {
  text-align: right;
}

/* ------ Single Services ------ */
#single-services .meta-title{
text-align: center;
}
#single-services .services_title a {
font-family: 'Raleway';
color: #22c7b7;
font-size: 36px;
font-weight: 600;
}
#single-services .meta-content{
margin: auto;
}
#single-services .meta-content p{
font-family: 'Poppins';
font-size: 16px;
line-height: 30px;
margin-top: 15px;
}
#single-services .meta-title h3 {
color: #091d3e;
font-size: 32px;
font-weight: 600;
font-family: 'Raleway';
}
.meta-ser-image-1 img, .meta-serimg-2 img{
width: 100%;
}
.meta-ser-p2 {
font-size: 16px;
font-family: 'Poppins';
}
.meta-ser-p1 {
margin-top: 15px;
font-family: 'Poppins';
font-size: 16px;
}
.meta-serpara2 {
margin-bottom: 20px;
}

/* ------- Single team -------- */
body.single-team .social-profiles {
  text-align: end;
  font-size: 20px;
}
body.single-team .social-profiles a {
margin: 10px;
}
body.single-team .single-team-info{
margin-bottom: 15px;
margin-top: 20px;
}
body.single-team .single-page-content p{
font-family: 'Raleway';
font-size: 18px;
}
.single-team-info p {
color: #091d3e;
font-weight: 500;
margin-top: 10px;
}

/* ------ Single Testimonials ------ */
#testimonial_single{
margin-top: 20px;
}
#testimonial_single .single-testimonial-desig {
color: #22c7b7;
font-family: 'Raleway';
font-size: 18px;
}
#testimonial_single .single-page-content{
font-family: 'Raleway';
}
.shop nav.woocommerce-breadcrumb{
display: none;
}

/* Single Product category Page */
#shop{
  background-color: #f0f1f3;
}
#shop div.shop{
padding: 30px 0;
}
.woocommerce span.onsale{
background-color: #22c7b7;
}
#shop ul.products h2{
font-family: 'Raleway';
font-weight: 600;
font-size: 20px;
}
#shop ul.products li {
  text-align: center;
  padding: 12px;
  background-color: #c5c5c5;
}
#shop li.product:hover h2 {
color: #091d3e;
}
#shop ul.products span.price{
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-flow: row-reverse;
  color: #000;
}
#shop ul.products span.price ins{
  margin-right: 10px;
  text-decoration-line: none;
}
#shop ul.products li:hover{
  transition: 0.2s;
}
#shop .woocommerce-ordering select{
background-color: #22c7b7;
color: #ffffff;
font-size: 15px;
font-weight: 600;
font-family: 'Raleway';
}
#shop h1, #shop .term-description p, #shop p.woocommerce-result-count{
color: #000;
font-family: 'Raleway';
}
#shop ul.products li:hover {
  box-shadow: 0px 0px 5px #22c7b7;
}
.woocommerce ul.products li.product a.added_to_cart {
color: #22c7b7;
font-weight: 800;
background-color: #ebe9eb;
padding: 5px;
margin-left: 10px;
border-radius: 3px;
margin-top: 10px;
}
/* Single Product Page */
div.sing-sop{
  background-color: #f5f4f4;
  padding: 30px 0 0;
}
.pswp__caption__center{
text-align: center;
color: #22c7b7;
font-weight: 800;
font-size: 18px;
font-family: 'Raleway';
text-transform: capitalize;
}

div.sing-sop h1{
color: #091d3e;
font-family: 'Raleway';
font-weight: 600;
}
div.sing-sop p.price{
  font-size: 18px;
  display: flex;
  justify-content:flex-end;
  flex-flow: row-reverse;
  color:#22c7b7 !important;
}
div.sing-sop p.price ins{
text-decoration: none;
margin-right: 10px;
}
div.sing-sop #comment {
  color:#22c7b7;
  font-weight: 600;
}
.woocommerce .star-rating span::before{
color: orange;
}
div.sing-sop p.stars:hover a {
  color: #22c7b7;
}
div.sing-sop h2, div.sing-sop .woocommerce-review-link, div.sing-sop .posted_in, div.sing-sop .posted_in a, #reply-title, .comment-form-rating label{
color: #000;
}
div.sing-sop .posted_in a:hover{
  color: #22c7b7;
}
p.form-submit input[type=submit] {
  background-color: #22c7b8 !important;
  color: #ffffff !important;
}
.related.products li{
padding: 12px !important;
text-align: center;
}
.related.products li span.price{
display: flex !important;
flex-flow: row-reverse;
justify-content: center;
color: #000 !important;
font-size: 16px !important;
}
.related.products li:hover h2 {
color: #091d3e;
}
.related.products li span.price ins{
text-decoration: none;
margin-right: 6px;
}
.related.products li{
  background-color: #c5c5c5;
}
.related.products li:hover{
box-shadow: 0px 0px 5px #22c7b7;
}
.related.products li h2{
font-weight: 600;
}
.woocommerce .quantity .qty{
padding: 4px;
}
form.cart button{
background-color: #22c7b7 !important; 
}

/* -------- Cart Page --------- */
body.woocommerce-cart .outer_dpage{
padding: 30px 0;
}
body.woocommerce-cart table th, body.woocommerce-cart table td, body.woocommerce-cart table td a{
color: #000;
}
.wc-proceed-to-checkout a{
background-color: #22c7b7 !important;
color: #ffffff !important;
}
body.woocommerce-cart #footer table td{
color: #ffffff;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
padding: 4px;
}

/* ------- Single Contact Page -------- */
.contact-box {
  padding: 30px 0;
}
div.contact-box h3{
color: #091d3e;
}

/* My Account Page */
nav.woocommerce-MyAccount-navigation ul {
list-style: square;
margin-top: 15px;
}
nav.woocommerce-MyAccount-navigation li {
  font-size: 16px;
  font-style: italic;
  padding: 5px;
}
nav.woocommerce-MyAccount-navigation li a {
color: #091d3e;
}
div.woocommerce-MyAccount-content p {
font-size: 18px;
font-family: 'Raleway';
margin-top: 15px;
}