/*-------------- Owl crousel ---------------*/

.owl-carousel .owl-item img {
  margin: 0 auto;
  width: auto;
}
.main_heading {
  line-height: 40px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Libre Baskerville";
  color: #1b1b1b;
}
.main_para {
  font-size: 18px;
  font-weight: 400;
  font-family: "Libre Baskerville";
  color:  #0a0a0a;
}

/* --------- banner--------- */
.color-bg {
background-color: #091d3e;
padding: 20% 0%;
}
.main-bg{
background-color: #f0f1f3;
}
#banner .main-cont{
position: relative;
}
#banner .main-image{
position: absolute;
top: 0;
left: 0;
right: 0;
}
#banner .main-image > img {
width: 100%;
}
#banner {
padding: 0;
}
#banner .services-slider{
position: absolute;
top: 15%;
bottom: 0;
text-align: center;
padding: 0 4%;
left: 0%;
}
.services-slider h4 {
font-family: 'Raleway';
font-weight: 600;
font-size: 36px;
margin-bottom: 0;
color: #091d3e;
}
.services-slider h1 {
font-family: 'Raleway';
font-size: 56px;
font-weight: 300;
color: #22c7b7;
}
.services-slider p {
font-family: 'Poppins';
color: #1d2a4d;
font-size: 15px;
font-weight: 300;
}
#banner .content .img-cont{
margin-top: 40px;
}
#banner .img-cont img {
background-color: #fffdff;
padding: 12px;
width: auto;
position: relative;
}
div.banner_icon:hover .more-btn {
opacity: 1 !important;
color: #ffffff;
}
#banner .img-cont div.more-btn{
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
margin: 0 auto;
display: flex;
align-items: center;
width: 100%;
justify-content: center;
background-color: #22c7b7;
opacity: 0;
font-family: 'Raleway';
font-size: 20px;
font-weight: bold;
}
/* --------------- Service ------------- */

section#our-process {
  padding: 60px 0;
  position: relative;
  width: 100%;
  background-color: #ffffff;
}
#our-process h3 {
line-height: 20px;
color: #22c7b7;
font-family: 'Raleway';
font-weight: 700;
position: relative;
display: inline-block;
}
#our-process h3::after{
right: -70px;
position: absolute;
content: '';
background-color: #22c7b7;
width: 60px;
height: 1px;
display: flex;
top: 18px;
}
#our-process h3::before{
left: -70px;
position: absolute;
content: '';
background-color: #22c7b7;
width: 60px;
height: 1px;
display: flex;
top: 18px;
}
#our-process .service_icon {
width: fit-content;
margin: 0 auto;
padding: 50px;
background-color: #f6f6f6;
border-radius: 50%;
border: 1px solid #d7d7d7;
background-image: radial-gradient(#ffffff, #ffffff, #e1e1e1);
}
#our-process .owl-item:hover::after {
background-color: #000118 !important;
color: #22c7b7;
transition: 1.2s;
}
#our-process .owl-item:hover h5.title {
color: #22c7b7;
transition: 1.2s;
}
#our-process .owl-item:hover p.sub-title {
color: #000118;
transition: 1.2s;
}
#our-process .owl-item:hover .service_icon img {
transform: rotateY(360deg);
transition: 0.5s ease-in-out;
scale: 1.1;
}
#our-process .owl-item:nth-child(odd) {
margin-top: 10%;
}


#our-process p.service-subheading {
font-size: 38px;
font-weight: 700;
color: #000118;
font-family: 'Raleway';  
}
#our-process h5.title {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #000;
  font-weight: 700;
  font-family: 'Raleway';
  margin-top: 10px;
  margin-bottom: 0;
}
#our-process p.post {
font-size: 14px;
line-height: 22px;
color: #858585;
font-weight: 700;
font-family: "Ubuntu";
text-align: center;
padding: 18px 15px;
line-height: 28px;  
}
#our-process .service-content .sub-title{
color: #22c7b7;
margin: 0;
text-align: center;
font-weight: 600;
}
#our-process .owl-stage{
counter-reset: css-counter 0;
}
#our-process .owl-item{
counter-increment: css-counter 1;
}
#our-process .owl-item::after {
  content: counter(css-counter, decimal-leading-zero) ".";
  top: 10px;
  left: 50px;
  position: absolute;
  display: flex;
  text-align: center;
  font-size: 18px;
  width: 40px;
  background-color: #22c7b7;
  padding: 10px;
  height: 40px;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
}
#our-process .owl-item:hover::after {
  background-color: #22c7b7;
}
#our-process .owl-stage-outer {
padding-bottom: 30px;
}

/* --------------- About ------------- */ 
#about .box h5 {
  font-size: 20px;
  color: #353535;
  font-weight: 300;
  font-family: "Libre Baskerville";
}
#about .main_heading{
color: #22c7b7;
font-family: 'Raleway';
font-weight: bold;
font-size: 24px;
position: relative;
padding-left: 68px;
}
#about p.main_para, #about p.main_para_two {
font-family: 'Raleway';
color: #666666;
font-size: 16px;
}
#about p.main_para_two {
font-family: 'Raleway';
color: #666666;
font-size: 16px;
font-weight: 100;
}
#about .main_heading:before {
content: '';
width: 60px;
position: absolute;
background-color: red;
height: 2px;
left: 0;
top: 28px;
display: inline-block;
}

#about div.slide_btn a {
font-size: 14px;
color: #000118;
padding: 15px 28px;
font-family: 'Raleway';
border: 1px solid #22c7b7;
}
#about div.slide_btn a:hover {
border: 3px solid #000118;
transition: 0.1s;
color: #22c7b7;
}
#about div.about-contact::before{
content: '\f04b';
font-family: 'Font Awesome 5 Free';
font-weight: 900;
transform: rotate(180deg);
}
#about .abt_bg{
background-color: #f0f1f3;
position: relative;
}
.about-icon-video {
position: absolute;
right: -4%;
bottom: 50%;
}
#about .abot-cont{
margin: 0 10%;
}
div.about-img{
position: relative;
}
#about div.about-contact {
position: absolute;
bottom: 50%;
right: 0;
display: flex;
align-items: center;
background-color: #ffffff;
border-radius: 50px;
padding: 20px 24px;
transform: translateX(30px);
} 
#about div.about-contact a{
font-family: 'Poppins';
font-weight: bold;
font-size: 22px;
}
#about div.slide_btn{
margin-top: 40px;
} 
#about .main-subtext {
font-family: 'Raleway';
color: #000118;
font-weight: 700;
font-size: 30px;
line-height: 48px;
}
#about .about_icon {
  text-align: left;
}
#about {
background-color: #ffffff;
position: relative;
padding-bottom: 10%;
padding-top: 0;
}   


.modal-new {
display: none;
position: absolute;
z-index: 1500;
left: 0;
right: 0;
top: 0px;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.4);
padding-right: 0 !important;
}
.modal-contents {
  background-color: #000;
  margin: auto;
  width: 100%; 
  height: 100%;
  transition: 2s;
  border-radius: 0px;
}
.close-one {
  float: right;
  font-size: 40px;
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  right: 32%;
  color: #fff;
  top: 2%;
}

/* ------------ Register ---------- */
#register {
position: relative;
}
#register .regcenter div:hover img {
transform: rotateY(180deg);
transition: 0.8s;
}
#register .regcenter div.contact:hover h4{
color: #000118;
transition: 0.8s;
}
#register .regcenter div.contact:hover h4::after{
background-color: #000118;
transition: 0.8s;
}
#register .regcenter div.timetable:hover h4{
color: #22c7b8 !important;
transition: 0.8s;
}
#register .regcenter div.timetable:hover h4::after{
background-color: #22c7b8 !important;
transition: 0.8s;
}
#register .regcenter div.opening:hover h4{
color: #22c7b8 !important;
transition: 0.8s;
}
#register .regcenter div.opening:hover h4::after{
background-color: #22c7b8 !important;
transition: 0.8s;
}
#register .img-lay {
position: absolute;
z-index: 10;
bottom: -21%;
left: -6%;
}
#register h3 {
  color: #fff;
  text-align: center; 
  padding: 0 32%;
  font-size: 36px;
  font-family: 'Raleway';
  font-weight: bold;  
}

#register h4 {
font-size: 26px;
letter-spacing: 0px;
color: #ffffff;
font-weight: 500;
font-family: 'Raleway';
margin-top: 10px;
margin-bottom: 8px;
position: relative;
}
#register .contact h4:after, #register .opening h4:after {
position: absolute;
content: '';
bottom: 0px;
width: 60px;
height: 2px;
background-color: #fff;
left: 0;
right: 0;
margin: 0 auto;
}
#register .timetable h4:after{
position: absolute;
content: '';
bottom: 0px;
width: 60px;
height: 2px;
background-color: #1B1825;
left: 0;
right: 0;
margin: 0 auto;
}

#register p {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Raleway';
  margin-bottom: 15px;
}
#register a.emergency {
color: #ffffff;
font-size: 28px;
}
#register a.emergency:hover{
color: #091d3e;
}
#register a.tab {
color: #091d3e;
font-size: 28px;
}
#register a.tab:hover{
color: #22c7b7;
}
#register .time-tab{
border: none;
margin-top: 4px;
margin-bottom: 0;
}
#register .time-tab td {
border: none;
font-size: 14px;
text-align: left;
padding: 5px 15px;
color: #ffffff;
}
.timetable h4, .timetable p {
  color: #000118 !important;
}

#register .owl-carousel::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #1B1825;
  top: 16px;
  display: flex;
  z-index: -1;
  border-radius: 20px;
}

#register .regcenter {
  justify-content: center;
  padding-left: 10%;
}
#register .contact {
background-color: #22c7b8;
padding: 25px;
}
#register .timetable {
background-color: #f0f1f3;
padding: 25px;
}
#register .opening {
background-color: #091d3e;
padding: 25px;
}

/* ------------ Testimonial ---------- */

#testimonial {
  position: relative;
  background-color: #f0f1f5;
}
#testimonial .owl-stage-outer{
padding-bottom: 30px;
}
#testimonial .main_para:before {
  left: -70px;
  position: absolute;
  content: '';
  background-color: #22c7b7;
  width: 60px;
  height: 1px;
  display: flex;
  top: 12px;
}
#testimonial .main_para:after{
  right: -70px;
  position: absolute;
  content: '';
  background-color: #22c7b7;
  width: 60px;
  height: 1px;
  display: flex;
  top: 12px;
}

#testimonial .owl-dots{
display: block;
text-align: center;
margin-top: 15px;
}
#testimonial .owl-dots .owl-dot.active{
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  border-radius: 50px;
  background-color: #22c7b7;
  opacity: 1;
}
#testimonial .owl-dots .owl-dot{
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  border-radius: 50px;
  background-color: #22c7b7;
  opacity: 0.7;
  border: none;
}
#testimonial .main_para{
font-size: 22px;
font-family: 'Raleway';
color: #22c7b7;
font-weight: 700;
display: inline;
position: relative;
}
#testimonial .main_heading{
line-height: 40px;
font-size: 32px;
font-weight: 600;
font-family: 'Raleway';
color: #000118;
}
.testimonial-box{
position: relative;
margin-top: 15px;
}
.testimonial-box .test-img{
margin-top: 18px;
position: absolute;
bottom: -40px;
left: 0;
right: 0;
}
.testimonial-box .test-icon i{
  font-size: 50px;
}
.testimonial-box .test-icon{
position: absolute;
right: 0;
left: 0;
top: -28px;
}
.testimonial-box::after {
content: '';
background-color: #ffffff;
width: -webkit-fill-available;
position: absolute;
height: auto;
top: 0;
display: flex;
z-index: -1;
}
.testimonial-content .test-img{
position: absolute;
margin-top: 15px;
left: 0;
right: 0;
}

#testimonial p.designation{
margin: 0;
font-family: 'Raleway';
color: #22c7b7;
}
.testimonial-box .testimonial-content{
text-align: center;
padding-bottom: 60px;
background-color: #fff;
box-shadow: 0px 2px 5px #cabfbf;
}
.testimonial-box:hover .test-icon img{
  transform: rotateY(360deg);
  transition: 1s ease-in-out;
  scale: 1.1; 
}
.testimonial-box .testimonial-content:hover {
box-shadow: 1px 1px 5px #22c7b7;
transition: 0.3s ease-in;
}
#testimonial .test-body a {
font-family: 'Raleway';
color: #000118;
font-size: 18px;
font-weight: bold;
}
.testimonial-info {
margin-top: 35px;
}
.testimonial-content .main-text p {
  color: #989898;
font-family: 'Raleway';
font-size: 16px;
padding: 40px 28px 0px;

}
#testimonial .owl-item{
padding: 18px;
}
/* ------------ Author ---------- */
#appointment {
padding: 60px;
}
#appointment .wpcf7-response-output{
position: absolute;
bottom: -46px;
}
#appointment .appoint{
background-color: #091d3e;
}
#appointment .head {
color: #ffffff;
text-align: left;
line-height: 40px;
font-size: 29px;
font-family: 'Raleway';
font-weight: 700;
}
#appointment .img-app img{
height: 482px;
width: 100%;
position: absolute;
right: 0;
bottom: 0;
}
#appointment .text {
color: #22c7b7;
text-align: left;
font-family: 'Raleway';
font-weight: bold;
font-size: 24px;
margin-bottom: 0px; 
position: relative;
padding-left: 12%;
}
#appointment .text::before {
content: '';
width: 60px;
position: absolute;
background-color: #22c7b7;
height: 1px;
left: 0;
top: 17px;
display: inline-block;
}
#appointment h5 {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Raleway';
}
#appointment input[type="text"]::placeholder, #appointment input[type="email"]::placeholder, #appointment textarea::placeholder {
color: #565366 !important;
font-size: 12px !important;
font-family: 'Raleway' !important;
}

#appointment input[type="submit"] {
background-color: transparent;
font-size: 18px;
line-height: 20px;
color: #22c7b7;
font-weight: 400;
font-family: 'Raleway';
text-align: center;
border: 1px solid #22c7b7;
text-transform: none;
padding: 10px 40px;
}

#appointment input[type="submit"]:hover{
color: #fff !important;
background-color: #22c7b7 !important;
}
#appointment textarea {
  border: none;
  width: 96%;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 0 12px 0;
  background-color: #415069;
  color: #ffffff;
}
#appointment input[type="text"] ,#appointment input[type="email"] , #appointment input[type=tel], #appointment input[type=date] {
  border: none;
  width: 47% !important;
  font-size: 12px !important;
  padding: 10px 10px !important;
  margin: 0 14px 12px 0 !important;
  height: auto;
  float: left;
  background-color: #415069;
  color: #ffffff;
  font-weight: 600;
}
#appointment input[type=date] {
padding: 9px 10px !important;
}
#appointment input[type="text"]::placeholder ,#appointment input[type="number"]::placeholder ,#appointment input[type="email"]::placeholder , #appointment textarea::placeholder, #appointment input[type="tel"]::placeholder {
  font-size: 12px !important;
  line-height: 18px;
  color: #ffffff !important;
  font-weight: 400;
  font-family: "Ubuntu" !important;
  font-weight: 500;
}

/* ------------ What we Do ----------- */
#what-we-do .main_para{
font-size: 24px;
font-weight: bold;
font-family: 'Raleway';
color: #22c7b7;
margin-bottom: 0;
display: inline;
position: relative;
}
#what-we-do .main_para::before{
left: -70px;
position: absolute;
content: '';
background-color: #22c7b7;
width: 60px;
height: 1px;
display: flex;
top: 12px;
}
#what-we-do .main_para::after{
right: -70px;
position: absolute;
content: '';
background-color: #22c7b7;
width: 60px;
height: 1px;
display: flex;
top: 12px;
}
#what-we-do .main_heading {
line-height: 50px;
font-size: 40px;
font-weight: 600;
font-family: 'Raleway';
color: #091d3e;
width: 65%;
margin: auto;
}
#what-we-do .owl-carousel {
margin-top: 30px;
}
#what-we-do .type-box a{
color: #ffffff;
font-size: 24px;
font-weight: 600;
line-height: 20px;
}
#what-we-do .owl-stage-outer{
  padding: 80px 0;
}
#what-we-do .owl-item.active.center {
  transform: scale(1.2);
  transition: ease-in 0.3s;
  z-index: 5;
}
#what-we-do .owl-nav{
display: block;    
position: absolute;
top: 46%;
right: 0;
left: 0;
display: flex;
justify-content: center;
}
#what-we-do .owl-nav .owl-prev{
position: absolute;
left: 0%;
border-radius: 0;
transform: translateX(-15px);
border-top-right-radius: 18px;
border: transparent;
border-bottom-right-radius: 18px;
}
#what-we-do .owl-nav .owl-next{
position: absolute;
right: 0%;
border: none;
transform: translateX(15px);
border-top-left-radius: 18px;
border-bottom-left-radius: 18px;
}
#what-we-do .owl-nav button i{
font-family: 'Font Awesome 5 Free';
font-weight: 600;
font-style: normal;
padding: 5px;
font-size: 20px;
}
#what-we-do .owl-nav button{
width: 50px;
height: 40px;
background-color: #ffffff;
color: #283b6a;
filter: drop-shadow(2px 0px 4px gray);
}
#what-we-do .owl-nav button:focus{
outline: none;
}
#what-we-do .owl-item.active.center img {
border: 5px solid #22c7b7;
}

/* ------------ Our Blogs ---------- */
#our_blogs .notor{
flex-direction: row-reverse;
}
#our_blogs h2 {
font-family: 'Raleway';
font-weight: bold;
color: #22c7b7;
font-size: 24px;
line-height: 10px;
margin-top: 14px;
}
#our_blogs p.blog-subheading{
font-family: 'Raleway';
font-size: 38px;
line-height: 50px;
font-weight: 700;
color: #000118;
}
#our_blogs .blog-title p {
font-size: 15px;
font-family: 'Raleway';
color: #ffffff99;
line-height: 26px;
letter-spacing: 0;
margin-bottom: 30px;
} 
#our_blogs .postpic{
position: relative;
height: 100%;
}
.postpic img{
height: 100%;
object-fit: cover;
}
.notor .postbox2 {
margin-top: 1.5rem;
margin-bottom: 1.5rem;
}
.postbox3, .postbox1 .postpic, .postbox2 .postpic{
position: relative;
}
.postbox1 .postpic .post-date, .postbox2 .postpic .post-date {
position: absolute;
top: 5px;
left: 5px;
text-transform: uppercase;
background-color: #22c7b7;
padding: 8px 14px;
color: #ffffff;
font-weight: 600;
}
.postbox3 .postpic .post-date {
position: absolute;
bottom: -20px;
left: 0;
right: 0;
width: fit-content;
margin: 0 auto;
background-color: #22c7b7;
padding: 8px 28px;
font-weight: 600;
color: #ffffff;
text-transform: uppercase;
}
.postbox3 .postcol3{
padding: 30px 10px;
}
.notor .back{
background-color: #f9f9f9;
}
.postbox-content p {
font-size: 12px;
font-family: 'Poppins';
padding: 5px 6px 14px;
margin-bottom: 10px;
}
.postbox-content .read-more{
font-size: 15px;
margin-bottom: 20px;
font-weight: 600;
}
.postbox-content .read-more a{
border: 1px solid #22c7b7;
padding: 7px 24px;
color: #22c7b7;
}
.postbox-content .read-more a:hover {
border: 3px solid #000118;
transition: 0.1s ease-in-out;
color: #fff;
background-color: #22c7b7;
}
.post_head a{
color: #000118;
}
#our_blogs .blog-main-heading:before{
left: -70px;
position: absolute;
content: '';
background-color: #22c7b7;
width: 60px;
height: 1px;
display: flex;
top: 12px;
}
#our_blogs .blog-main-heading:after{
right: -70px;
position: absolute;
content: '';
background-color: #22c7b7;
width: 60px;
height: 1px;
display: flex;
top: 12px;
}
#our_blogs .blog-main-heading{
display: inline-block;
position: relative;
}

#teams span.team-sm-hd {
font-family: 'Raleway';
color: #22c7b7;
font-weight: 700;
font-size: 22px;
position: relative;
padding-left: 14%;
}
#teams .our-team-head {
  text-align: left !important;
}
#teams span.team-sm-hd::before {
content: '';
position: absolute;
width: 60px;
height: 1px;
background-color: #22c7b7;
left: 0;
display: inline-block;
top: 12px;
}

/* Copyright */









